In [2]:
'''
【基础1.1】 数据类型概述

Python标准数据类型有：Numbers数字，String字符串， List列表，Tuple元组，Dict字典

'''

'\n【基础1.1】 数据类型概述\n\nPython标准数据类型有：Numbers数字，String字符串， List列表，Tuple元组，Dict字典\n\n'

In [4]:
# Numbers数字分为：int整型，long长整型，float浮点型，complex复数

n1 = 10 
n2 = 10.0 
print(type(n1), type(n2))

# print()函数，用于输出/打印内容
# type()函数，用于查看数据类型
# 总结：n1为int整型，n2为float浮点型

<class 'int'> <class 'float'>

In [11]:
# String字符串由数字、字母、下划线组成的一串字符，用于表示文本的数据类型

s1 = "hello world!"
s2 = 'hahaha'
s3 = '''What your name?'''
s4 = """My name is chaoren."""
print(s1, type(s1))
print(s2, type(s2))
print(s3, type(s3))
print(s4, type(s4))

# 总结：字符串要用英文标点符号表达，单引号('') 和双引号("")一样，但是三引号(''''''或"""""")表示多行的字符串

hello world! <class 'str'>
hahaha <class 'str'>
What your name? <class 'str'>
My name is chaoren. <class 'str'>

In [33]:
# bool布尔型：True, False, 用于做判断

b1 = True
print(b1, type(b1))

print(True == 1)
print(False == 0)
print(True * 100)

# 总结：True 实际值是1，False实际值是0

True <class 'bool'>
True
True
100

In [34]:
# List列表，支持字符，数字，字符串以包含列表（即嵌套），用[]标识，有序对象

lis1 = ["chaoren", 1, 3.1415926, [1, 2, 3]]
print(lis1, type(lis1))

# 总结：List列表是有序的并且属性还可以再嵌套List

['chaoren', 1, 3.1415926, [1, 2, 3]] <class 'list'>

In [35]:
# Tuple元祖，用（）标识，有序对象，不能二次赋值，可以理解成不可变的列表（只读列表）

tup1 = (1, 2, 3.1415927, 'hello')
# tup1[0] = 2
print(tup1, type(tup1))

(1, 2, 3.1415927, 'hello') <class 'tuple'>

In [36]:
# Dict 字典，用{}标识，由索引（key）和它对应的值（value）组成，无序对象

dic1 = {"name": "chaoren", "city": "shenzhen", "tel": 666666666}
print(dic1, type(dic1))

{'name': 'chaoren', 'city': 'shenzhen', 'tel': 666666666} <class 'dict'>

In [40]:
# 数组类型转换方法 先举int, float, str三者

var1 = 10.8
var2 = int(var1)
print(var1, type(var1))
print(var2, type(var2))
print('----------')
# int(x)函数：将x转为整数，不受数学“四舍五入”的影响，这里还是输出为10

var3 = 10
var4 = float(var3)
print(var3, type(var3))
print(var4, type(var4))
print('----------')
# float(x)函数：将x转为浮点数


var5 = 10.0
var6 = str(var5)
var7 = float(var6)
print(var5, type(var5))
print(var6, type(var6))
print(var7, type(var7))
# str(x)函数，将x转为字符串

10.8 <class 'float'>
10 <class 'int'>
----------
10 <class 'int'>
10.0 <class 'float'>
----------
10.0 <class 'float'>
10.0 <class 'str'>
10.0 <class 'float'>