In [ ]:
"""
【课程2.13  数值计算和统计基础】 课程作业
"""

In [6]:
# 作业1：如图创建一个Dataframe（5*2，值为0-100的随机值），并分别计算key1和key2的均值、中位数、累积和

import numpy as np
import pandas as pd

arr = np.random.rand(10).reshape(5,2)*100
df = pd.DataFrame(arr, columns = ["key1", "key2"])
print("创建DataFrame为：\n", df)
print("---------------")
print("df[\"key1\"]的均值为：\n", df["key1"].mean())
print("---------------")
print("df[\"key1\"]的中位数为：\n", df["key1"].median())
print("---------------")
print("df[\"key2\"]的均值为：\n", df["key2"].mean())
print("---------------")
print("df[\"key2\"]的中位数为：\n", df["key2"].median())
print("---------------")

df["key1_cumsum"] = df["key1"].cumsum()
df["key2_cumsum"] = df["key2"].cumsum()
print("df的累积和为：\n", df)
print("---------------")

创建DataFrame为：
         key1       key2
0  78.934828  82.233021
1  94.130107  42.801726
2  55.529474  88.428982
3  74.889368  34.918971
4  64.816234  69.439043
---------------
df["key1"]的均值为：
 73.66000218112461
---------------
df["key1"]的中位数为：
 74.88936781900908
---------------
df["key2"]的均值为：
 63.56434858222578
---------------
df["key2"]的中位数为：
 69.43904337699601
---------------
df的累积和为：
         key1       key2  key1_cumsum  key2_cumsum
0  78.934828  82.233021    78.934828    82.233021
1  94.130107  42.801726   173.064935   125.034746
2  55.529474  88.428982   228.594409   213.463729
3  74.889368  34.918971   303.483777   248.382700
4  64.816234  69.439043   368.300011   317.821743
---------------

In [30]:
# 作业2：写出一个输入元素直接生成数组的代码块，然后创建一个函数,
# 该函数功能用于判断一个Series是否是唯一值数组，返回“是”和“不是”

arr = input("请随机输入一组元素，用逗号（英文逗号）隔开:\n")
print("-----------")
sArr = pd.Series(arr.split(","))
if len(sArr.unique()) == len(sArr):
    print("该数组是唯一值数组")
else:
    print("该数组不是唯一值数组")

请随机输入一组元素，用逗号（英文逗号）隔开:
1,2,3
-----------
该数组是唯一值数组

In [ ]:
"""
【课程2.14  文本数据】 课程作业
"""

In [34]:
# 作业1：如图创建一个Dataframe，并分别通过字符串常用方法得到3个Series或得到新的Dataframe：
# ① name字段首字母全部大写
# ② gender字段去除所有空格
# ③ score字段按照-拆分，分别是math，english，art三个学分

df = pd.DataFrame({'name': ['jack','tom','Marry','zack','heheda'],
                  'gender': ['M ','M','   F','  M ','  F'],
                  'score': ['90-92-89','89-78-88','90-92-95','78-88-76','60-60-67']})
df['name'] = df['name'].str.capitalize()
df['gender'] = df['gender'].str.strip()
df['math'] = df['score'].str.split('-', expand=True)[0]
df['english'] = df['score'].str.split('-', expand=True)[1]
df['art'] = df['score'].str.split('-', expand=True)[2]
del df['score']
print('创建Dataframe为：\n',df,'\n------')
print('修改后为：\n',df,'\n------')

创建Dataframe为：
   gender    name math english art
0      M    Jack   90      92  89
1      M     Tom   89      78  88
2      F   Marry   90      92  95
3      M    Zack   78      88  76
4      F  Heheda   60      60  67
------
修改后为：
   gender    name math english art
0      M    Jack   90      92  89
1      M     Tom   89      78  88
2      F   Marry   90      92  95
3      M    Zack   78      88  76
4      F  Heheda   60      60  67
------

In [ ]:
"""
【课程2.15  合并 merge、join】 课程作业
"""

In [75]:
# 作业1：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'key':['b','c','d'],
                   'values2':np.random.rand(3)})
df3 = pd.merge(df1,df2,on='key',how='outer')

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.548503
1   b  0.784296
2   c  0.454678
------
创建df2为：
   key   values2
0   b  0.371111
1   c  0.511554
2   d  0.418865
------
合并df3为：
   key   values1   values2
0   a  0.548503       NaN
1   b  0.784296  0.371111
2   c  0.454678  0.511554
3   d       NaN  0.418865
------

In [77]:
# 作业2：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({"lkey": list("abc"),
                   "values1": np.random.rand(3)})
df2 = pd.DataFrame({"rkey": list("bcd"),
                   "values2": np.random.rand(3)})
df3 = pd.merge(df1, df2, left_on='lkey', right_on='rkey', how='left')

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   lkey   values1
0    a  0.637991
1    b  0.213103
2    c  0.344186
------
创建df2为：
   rkey   values2
0    b  0.093879
1    c  0.877235
2    d  0.346897
------
合并df3为：
   lkey   values1 rkey   values2
0    a  0.637991  NaN       NaN
1    b  0.213103    b  0.093879
2    c  0.344186    c  0.877235
------

In [78]:
# 作业3：按要求创建Dataframe df1、df2，并合并成df3

df1 = pd.DataFrame({'key':['a','b','c'],
                   'values1':np.random.rand(3)})
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':[5,6,7]},
                  index = ['b','c','d'])
df3 = pd.merge(df1, df2, left_on='key', right_index=True)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('合并df3为：\n',df3,'\n------')

创建df1为：
   key   values1
0   a  0.142839
1   b  0.571393
2   c  0.300401
------
创建df2为：
     values2  values3
b  0.843036        5
c  0.164893        6
d  0.758744        7
------
合并df3为：
   key   values1   values2  values3
1   b  0.571393  0.843036        5
2   c  0.300401  0.164893        6
------

In [ ]:
'''
【课程2.16  连接与修补 concat、combine_first】 课程作业

'''

In [3]:
# 作业1：按要求创建Dataframe df1、df2，并连接成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df2 = pd.DataFrame(np.random.rand(4,2),
                  index = list('efgh'),
                  columns = ['values1','values2'])
df3 = pd.concat([df1,df2])

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')
print('连接df3为：\n',df3,'\n------')

创建df1为：
     values1   values2
a  0.793393  0.778852
b  0.124681  0.254247
c  0.599930  0.283357
d  0.020005  0.734037
------
创建df2为：
     values1   values2
e  0.810503  0.248616
f  0.767792  0.136883
g  0.773069  0.919065
h  0.256364  0.492011
------
连接df3为：
     values1   values2
a  0.793393  0.778852
b  0.124681  0.254247
c  0.599930  0.283357
d  0.020005  0.734037
e  0.810503  0.248616
f  0.767792  0.136883
g  0.773069  0.919065
h  0.256364  0.492011
------

In [4]:
# 作业2：按要求创建Dataframe df1、df2，并用df2的值修补df1，生成df3

df1 = pd.DataFrame(np.random.rand(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df1['values1'].loc[['b','c']] = np.nan
df2 = pd.DataFrame(np.arange(8).reshape(4,2),
                  index = list('abcd'),
                  columns = ['values1','values2'])
df3 = df1.combine_first(df2)

print('创建df1为：\n',df1,'\n------')
print('创建df2为：\n',df2,'\n------')

创建df1为：
     values1   values2
a  0.794875  0.063126
b       NaN  0.275159
c       NaN  0.448270
d  0.058980  0.093994
------
创建df2为：
    values1  values2
a        0        1
b        2        3
c        4        5
d        6        7
------

In [ ]:
'''
【课程2.18 数据分组】 课程作业

'''

In [5]:
# 作业1：按要求创建Dataframe df，并通过分组得到以下结果
# ① 以A分组，求出C,D的分组平均值
# ② 以A,B分组，求出D,E的分组求和
# ③ 以A分组，得到所有分组，以字典显示
# ④ 按照数值类型分组，求和
# ⑤ 将C,D作为一组分出来，并计算求和
# ⑥ 以B分组，求出每组的均值，求和，最大值，最小值

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A分组，求出C,D的分组平均值为：\n',df.groupby('A').mean(),'\n------')
print('以A,B分组，求出D,E的分组求和为：\n',df.groupby(['A','B']).sum(),'\n------')
print('以A分组，筛选出分组后的第一组数据为：\n',df.groupby('A').groups,'\n------')
print('按照数值类型分组为：\n',df.groupby(df.dtypes,axis=1).sum(),'\n------')
print('将C,D作为一组分出来，并计算求和为：\n',df.groupby({'C':'r','D':'r'},axis=1).sum(),'\n------')
print('以B分组，求出每组的均值，求和，最大值，最小值：\n',df.groupby('B').agg([np.mean,np.sum,np.max,np.min]),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10  0.649748  0.157248
1    two  h  12  0.995350  0.965091
2  three  h  14  0.246293  0.390882
3    one  h  16 -0.438973  0.936838
4    two  f  18  0.098788  0.099158
5  three  f  20  2.124914  0.581440
6    one  f  22  0.994674  0.226652
7    two  f  24  0.190131  0.333571
------
以A分组，求出C,D的分组平均值为：
         C         D         E
A
one    16  0.401817  0.440246
three  17  1.185604  0.486161
two    18  0.428089  0.465940
------
以A,B分组，求出D,E的分组求和为：
           C         D         E
A     B
one   f  22  0.994674  0.226652
      h  26  0.210776  1.094086
three f  20  2.124914  0.581440
      h  14  0.246293  0.390882
two   f  42  0.288918  0.432729
      h  12  0.995350  0.965091
------
以A分组，筛选出分组后的第一组数据为：
 {'one': Int64Index([0, 3, 6], dtype='int64'), 'three': Int64Index([2, 5], dtype='int64'), 'two': Int64Index([1, 4, 7], dtype='int64')}
------
按照数值类型分组为：
    int64   float64  object
0     10  0.806997    oneh
1     12  1.960440    twoh
2     14  0.637176  threeh
3     16  0.497865    oneh
4     18  0.197945    twof
5     20  2.706354  threef
6     22  1.221326    onef
7     24  0.523702    twof
------
将C,D作为一组分出来，并计算求和为：
            r
0  10.649748
1  12.995350
2  14.246293
3  15.561027
4  18.098788
5  22.124914
6  22.994674
7  24.190131
------
以B分组，求出每组的均值，求和，最大值，最小值：
      C                       D                                       E  \
  mean sum amax amin      mean       sum      amax      amin      mean
B
f   21  84   24   18  0.852127  3.408506  2.124914  0.098788  0.310205
h   13  52   16   10  0.363105  1.452419  0.995350 -0.438973  0.612515


        sum      amax      amin
B
f  1.240820  0.581440  0.099158
h  2.450059  0.965091  0.157248
------

In [ ]:
"""
【课程2.19  分组转换及一般性“拆分-应用-合并”】 课程作业
"""

In [23]:
# 作业1：按要求创建Dataframe df，通过key分组求和，并将求和结果并在原df中

df = pd.DataFrame({"data1": np.random.rand(8),
                  "data2": np.random.rand(8),
                  "key": list("aabbabab")})
df_sum = df.groupby("key").sum() 
print("创建df为：\n",df,"\n----------")
df_ = df.groupby('key').transform(np.mean)
print('求和且合并之后结果为：\n',df.join(df_,rsuffix='_mean'),'\n------')

创建df为：
       data1     data2 key
0  0.452562  0.986987   a
1  0.091903  0.092792   a
2  0.545220  0.585490   b
3  0.817403  0.618787   b
4  0.422542  0.207294   a
5  0.430726  0.523285   b
6  0.893024  0.784052   a
7  0.345994  0.690794   b
----------
求和且合并之后结果为：
       data1     data2 key  data1_mean  data2_mean
0  0.452562  0.986987   a    0.465008    0.517781
1  0.091903  0.092792   a    0.465008    0.517781
2  0.545220  0.585490   b    0.534836    0.604589
3  0.817403  0.618787   b    0.534836    0.604589
4  0.422542  0.207294   a    0.465008    0.517781
5  0.430726  0.523285   b    0.534836    0.604589
6  0.893024  0.784052   a    0.465008    0.517781
7  0.345994  0.690794   b    0.534836    0.604589
------

In [ ]:
'''
【课程2.20  透视表及交叉表】 课程作业

'''

In [24]:
# 作业1：按要求创建Dataframe df，并通过数据透视表得到以下结果
# ① 以A列聚合，求出C,D的平均值
# ② 以A,B列聚合，求出D,E的均值、求和
# ③ 以B聚合，计算A列的元素频率

df = pd.DataFrame({'A' : ['one', 'two', 'three', 'one','two', 'three', 'one', 'two'],
                   'B' : ['h', 'h', 'h', 'h', 'f', 'f', 'f', 'f'],
                   'C' : np.arange(10,26,2),
                   'D' : np.random.randn(8),
                   'E':np.random.rand(8)})


print('创建df为：\n',df,'\n------')
print('以A列聚合，求出C,D的平均值为：\n',pd.pivot_table(df,values=['C','D'],index='A',aggfunc=np.mean),'\n------')
print('以A,B列聚合，求出D,E的均值、求和为：\n',pd.pivot_table(df,values=['D','E'],index=['A','B'],aggfunc=[np.mean,np.sum]),'\n------')
print('以B聚合，计算A列的元素频率为：\n',pd.crosstab(df['B'],df['A']),'\n------')

创建df为：
        A  B   C         D         E
0    one  h  10 -0.773772  0.462176
1    two  h  12  2.133793  0.672142
2  three  h  14 -1.372875  0.634992
3    one  h  16  0.184681  0.194391
4    two  f  18 -1.420557  0.760111
5  three  f  20  1.461882  0.828075
6    one  f  22 -0.191028  0.765054
7    two  f  24 -0.396764  0.869049
------
以A列聚合，求出C,D的平均值为：
         C         D
A
one    16 -0.260040
three  17  0.044504
two    18  0.105491
------
以A,B列聚合，求出D,E的均值、求和为：
              mean                 sum
                D         E         D         E
A     B
one   f -0.191028  0.765054 -0.191028  0.765054
      h -0.294545  0.328283 -0.589091  0.656567
three f  1.461882  0.828075  1.461882  0.828075
      h -1.372875  0.634992 -1.372875  0.634992
two   f -0.908661  0.814580 -1.817321  1.629160
      h  2.133793  0.672142  2.133793  0.672142
------
以B聚合，计算A列的元素频率为：
 A  one  three  two
B
f    1      1    2
h    2      1    1
------